/* .accordion__container {
  border: 1px solid #e77533;
}
.accordion__header:hover {
  color: #e77533;
}
.accordion__id {
  color: #e77533;
} */
.accordion__details {
  overflow: hidden;
  height: 0;
}
/* .open {
  border-color: #e77533;
}
.open .accordion__header,
.open .accordion__id {
  color: #e77533;
}
 */
.open .accordion__details {
  height: auto;
}
