.wrapper-section {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: calc(100% - 35px);
    transition: top 500ms ease-in-out, background-color 500ms ease-in-out; 
    background-color: transparent; 
  }
  .wrapper-section.open {
    top: 65px;
    background-color: white; 
  }

