@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AgrandirGrandBold";
  src: url("./assets/fonts/Agrandir-GrandBold.woff2") format("woff2"),
    url("./assets/fonts/Agrandir-GrandBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AgrandirVariable";
  src: url("./assets/fonts/AgrandirVariable-Regular.woff2") format("woff2"),
    url("./assets/fonts/AgrandirVariable-Regular.woff") format("woff");
  font-weight: 617;
  font-stretch: 200%;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: "AgrandirMedium";
  src: url("./assets/fonts/Agrandir-Medium.woff2") format("woff2"),
    url("./assets/fonts/Agrandir-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "CartaNueva";
  src: url("./assets/fonts/CartaNueva-Deck.woff2") format("woff2"),
    url("./assets/fonts/CartaNueva-Deck.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FK";
  src: url("./assets/fonts/Fk.woff2") format("woff2"),
    url("./assets/fonts/Fk.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "AgrandirVariable";
  font-variant-ligatures: common-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.accordion-content {
  overflow: hidden;
  transition: height 0.5s ease;
  height: 0;
}

.accordion-content.open {
  height: 75vh;
}

p {
  line-height: normal;
}

/* CSS pour le premier slider */
/* .first-slider .swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
 */
/* CSS pour le second slider */
/* .second-slider .swiper-slide img {
  width: auto;
  height: 600px;
  object-fit: contain;
  max-width: unset;
}

 */
@keyframes rotate3d {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.rotate3d-animation {
  animation: rotate3d 13s infinite linear;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 100%;
}

.vertical {
  width: 50% !important;
}

.horizontal {
  width: 100% !important;
}
