/* App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AgrandirGrandBold";
  src: url("assets/fonts/Agrandir-GrandBold.woff2") format("woff2"),
    url("assets/fonts/Agrandir-GrandBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AgrandirVariable";
  src: url("assets/fonts/AgrandirVariable-Regular.woff2") format("woff2"),
    url("assets/fonts/AgrandirVariable-Regular.woff") format("woff");
  font-weight: 617;
  font-stretch: 200%;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: "AgrandirMedium";
  src: url("assets/fonts/Agrandir-Medium.woff2") format("woff2"),
    url("assets/fonts/Agrandir-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "CartaNueva";
  src: url("assets/fonts/CartaNueva-Deck.woff2") format("woff2"),
  url("assets/fonts/CartaNueva-Deck.woff") format("woff");
}
@font-face {
  font-family: "FK";
  src: url("assets/fonts/FK.woff2") format("woff2"),
    url("assets/fonts/FK.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: "AgrandirVariable";
  font-variant-ligatures: common-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
p {
  line-height: normal;
}
